
# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmF0aXZlLXdhcnRob2ctNzguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_UqCg6kBaRLhrddNzFCEad585Q7sEnixGrPNzSbkLJO
WEBHOOK_SECRET=whsec_T50XpVI91PhUUbZ3JR04Q4O4bxXhNKQx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/
# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
DATABASE_URL=postgresql://blogrecorder:randompassword@localhost:5432/mydb?schema=public
DIRECT_URL=postgresql://blogrecorder:randompassword@localhost:5432/mydb?schema=public

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

# Tsafi.xyz CMS
CMS_API_KEY=

FRONTEND_URL=